<b> QUESTION 1: </b>What is a database? Differentiate between SQL and NoSQL databases.<br>
<b> SOLUTION: </b><br>

A database is an organized collection of inter-related data in one place.<br>

* SQL databases are Relational databases while NoSQL databases are primarily non-relational or distributed databases.
* The data in SQL databases is table-based whereas in case of NoSQL, data can be in form of key-value pairs, graphs, documents or wide-column stores.
* SQL databases have fixed or static or predefined schema whereas NoSQL databases have a dynamic schema.
* SQL databses are not well-suited for hierarchical databases but NoSQL databases are well-suited for storing hierarchical databases.
* SQL databases are vertically scalable whereas NoSQL databases are horizontally scalable.

<b> QUESTION 2: </b>What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.<br>
<b> SOLUTION: </b><br>

DDL stands for Data Definition Language. DDL commands deal with database schemas and descriptions and data should reside in a database. <br>

* CREATE - used to create database and its objects like tables,views,functions,etc. <br>
* DROP - deletes objects from database. <br>
* ALTER - alters the structure of existing database <br>
* TRUNCATE - removes all records from the tables. <br>

<b> QUESTION 3: </b>What is DML? Explain INSERT, UPDATE, and DELETE with an example.<br>
<b> SOLUTION: </b><br>

DML stands for Data Manipulation Language. DML commands are used to select, store ,retrieve, update and delete data from tables. <br>

* INSERT -used to insert data into tables <br>
* UPDATE- used to update or insert additional data into an existing table. <br>
* DELETE - delete the records of the table <br>

<b> QUESTION 4: </b>What is DQL? Explain SELECT with an example.<br>
<b> SOLUTION: </b><br>

DQL stands for Data Query Language. It is used to select required data from a table. <br>

* SELECT - used to select either all of the data or selected rows and columns of the table.

<b> QUESTION 5: </b>Explain Primary Key and Foreign Key.<br>
<b> SOLUTION: </b><br>

Primary key is a column in a table which uniquely identifies each row in a table. It is used to connect with other tables in the database. <br>
Foreign key in a relational database table is the column which connects data in two tables. It is a column or a group of columns that references a column (usually Primary Key) of another table.

<b> QUESTION 6:</b> Write a python code to connect MySQL to python. Explain the cursor() and execute() method. </b><br>

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
    host = 'localhost',
    user = 'abc',
    password = 'password'
    )

mycursor = mydb.cursor()
mycursor.execute("SHOW DATABASES")
 
for x in mycursor:
    print(x)

<b> QUESTION 7: </b>Give the order of execution of SQL clauses in an SQL query.<br>
<b> SOLUTION: </b><br>

* FROM clause
* ON clause
* OUTER clause
* WHERE clause
* GROUP BY clause
* HAVING clause
* SELECT clause
* DISTINCT clause
* ORDER BY clause
* TOP clause