In [ ]:
import pandas as pd

<b>QUESTION 1:</b>Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.<br>
<b>SOLUTION:</b><br>

In [ ]:
l = [4,8,15,16,23,43]
series = pd.Series(l)
print(series)

<b>QUESTION 2:</b>Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.<br>
<b>SOLUTION:</b><br>

In [ ]:
lst = [x for x in range(11)]
series = pd.Series(lst)
print(series)

<b>QUESTION 3:</b>Create a Pandas DataFrame that contains the following data:<br>

|Name       |Age          |Gender         |
|:----------|:------------|---------------|
|Alice      |25           |Female         |
|Bob        |30           |Male           |
|Claire     |27           |Female         |
<br>

In [ ]:
data = {
    'Name' : ['Alice', 'Bob', 'Claire'],
    'Age' : [25,30,27],
    'Gender' : ['Female','Male', 'Gender'],
}

df = pd.DataFrame(data)
print(df)

<b>QUESTION 4:</b>What is ‘DataFrame’ in pandas and how is it different from pandas series? Explain with an example.<br>
<b>SOLUTION:</b><br>
Dataframe in pandas is a 2-D array consisting of multiple rows and columns. Whereas, Pandas Series only has a single column of data and is a 1-D array.

In [ ]:
data1 = ['Alice','Bob','Charlie']
data2 = {
    'Name' : ['Jake','Judith','Miranda'],
    'Location' : ['Malibu', 'San Jose', 'Perth'],
}

series = pd.Series(data1)
dataframe = pd.DataFrame(data2)


print(series)
print(dataframe)

<b>QUESTION 5:</b> What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?<br>
<b>SOLUTION:</b><br>
1. head() -- It can be used to view some initial rows of the pandas dataframe.
2. .types -- It is used to check the datatypes of data in each column.
3. .columns - It is used to get all the column names of the dataframe

<b>QUESTION 6:</b>Which of the following is mutable in nature Series, DataFrame, Panel?<br>
<b>SOLUTION:</b><br>
All of these,that is, Series, dataframes and panels are value-mutable and except for series, all pandas data structures are size mutable.

<b>QUESTION 7:</b>Create a DataFrame using multiple Series. Explain with an example.<br>
<b>SOLUTION:</b><br>

In [ ]:
#creating 3 individual series

series1 = pd.Series([1,2,3,4,3,4,5])
series2 = pd.Series(['a','b','c','d','e','f','g'])
series3 = pd.Series(['no','yes','no','yes','yes'])


#creating a dataframe by combining all the 3 series
df = pd.DataFrame([series1,series2,series3])
print(df)