In [1]:
import pandas as pd

In [3]:
data = pd.read_excel('./flight_price.xlsx')

In [4]:
data.isnull().sum()

Airline            0
Date_of_Journey    0
Source             0
Destination        0
Route              1
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        1
Additional_Info    0
Price              0
dtype: int64

In [5]:
data.dtypes

Airline            object
Date_of_Journey    object
Source             object
Destination        object
Route              object
Dep_Time           object
Arrival_Time       object
Duration           object
Total_Stops        object
Additional_Info    object
Price               int64
dtype: object

### DATE OF JOURNEY

In [6]:
data['Date_of_Journey']

0        24/03/2019
1         1/05/2019
2         9/06/2019
3        12/05/2019
4        01/03/2019
            ...
10678     9/04/2019
10679    27/04/2019
10680    27/04/2019
10681    01/03/2019
10682     9/05/2019
Name: Date_of_Journey, Length: 10683, dtype: object

In [8]:
data['Date']  = pd.to_numeric(data['Date_of_Journey'].str.split('/').str[0])
data['Month']  = pd.to_numeric(data['Date_of_Journey'].str.split('/').str[1])
data['Year']  = pd.to_numeric(data['Date_of_Journey'].str.split('/').str[2])

### DURATION

In [9]:
data['Duration']

0        2h 50m
1        7h 25m
2           19h
3        5h 25m
4        4h 45m
          ...
10678    2h 30m
10679    2h 35m
10680        3h
10681    2h 40m
10682    8h 20m
Name: Duration, Length: 10683, dtype: object

In [10]:
data['Dur_hr'] = pd.to_numeric(data['Duration'].str.split(' ').str[0].str[:-1])

In [15]:
data['dur_min'] = pd.to_numeric(data['Duration'].str.split(' ').str[1].str[:-1])

In [16]:
data['dur_min'] = data['dur_min'].fillna(0.0)

In [17]:
data['Duration_cleaned'] = (data['Dur_hr'] * 60) + data['dur_min']

In [20]:
data = data.drop(['Dur_hr', 'dur_min'], axis=1)

### TOTAL STOPS

In [22]:
data['Total_Stops'].unique()

array(['non-stop', '2 stops', '1 stop', '3 stops', nan, '4 stops'],
      dtype=object)

In [23]:
data['Total_Stops_cleaned'] = data['Total_Stops'].map({
                                                'non-stop' : 0,
    '2 stops' : 2,
    '1 stop' : 1,
    'nan' : 1,
    '4 stops' : 4
})

In [24]:
data

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Duration_cleaned,Total_Stops_cleaned
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897,24,3,2019,170.0,0.0
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662,1,5,2019,445.0,2.0
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882,9,6,2019,1140.0,2.0
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218,12,5,2019,325.0,1.0
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302,1,3,2019,285.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10678,Air Asia,9/04/2019,Kolkata,Banglore,CCU → BLR,19:55,22:25,2h 30m,non-stop,No info,4107,9,4,2019,150.0,0.0
10679,Air India,27/04/2019,Kolkata,Banglore,CCU → BLR,20:45,23:20,2h 35m,non-stop,No info,4145,27,4,2019,155.0,0.0
10680,Jet Airways,27/04/2019,Banglore,Delhi,BLR → DEL,08:20,11:20,3h,non-stop,No info,7229,27,4,2019,180.0,0.0
10681,Vistara,01/03/2019,Banglore,New Delhi,BLR → DEL,11:30,14:10,2h 40m,non-stop,No info,12648,1,3,2019,160.0,0.0
10682,Air India,9/05/2019,Delhi,Cochin,DEL → GOI → BOM → COK,10:55,19:15,8h 20m,2 stops,No info,11753,9,5,2019,500.0,2.0

### convert to csv

In [25]:
data.to_csv('cleaned_flightdata.csv')